<!DOCTYPE html>
<html>
<head>
<title>Clash of Clans Mod</title>
</head>
<body>
<h1>This is a Clash of Clans mod</h1>
<p>This mod gives you unlimited resources.</p>
<script>
function addResources() {
  var resources = document.getElementById("resources");
  resources.innerHTML = "999999";
}
</script>
<button onclick="addResources()">Add Resources</button>
</body>
</html>
